body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 background: pink;
}
h1 {
    text-align:  center;
    background:seashell;
    font-size: 80px;
}
.button {
    border-radius:20px;
    font-size:20px;
    margin:20px;
    color:black!important;
    display:inline-grid;
    padding:10px 20px 10px 20px;
    background:seashell;
}
.button:hover {
    color:pink!important
}
.button:active {
    color:pink!important;
    position:relative;
    top:1px;     
 
}
div{
    display: inline-flex;
}
div#content2 {
    display: list-item;
}
#header form
{
 margin-top:15px;
 float:right;
}
