body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 background: pink;
}
h1 {
    text-align:  center;
    background:seashell;
    font-size: 80px;
}
div#content1 {
    display: list-item;
}
div#content2 {
    display: list-item;
}
#header form
{
 margin-top:15px;
 float:right;
}
